<mat-toolbar color="primary">
  <span>My Application</span>
</mat-toolbar>

<mat-grid-list cols="1" rowHeight="600">
    <mat-grid-tile>
        <div class="text-center animated bounceInLeft">
            <h3>Welcome</h3>
  
            <form (ngSubmit)="signin()"
                  [formGroup]="mySignInForm"
                  autocomplete="off">
                <mat-form-field appearance="outline">
                  <mat-label>Username</mat-label>
                  <input matInput
                         placeholder="Enter your username"
                         formControlName="username">
                  <mat-icon matSuffix>person</mat-icon>
                  <mat-error>Field is required</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Password</mat-label>
                  <input matInput
                         placeholder="Enter your assword"
                         formControlName="password"
                         type="password">
                  <mat-icon matSuffix>lock</mat-icon>
                  <mat-error *ngIf="fieldIsInvalid('password')">{{errorMessage}}</mat-error>
                </mat-form-field>

                <button mat-raised-button
                        color="primary"
                        type="submit">
                    Sign In
                </button>
            </form>

            <br>
            <div>
              <p>Don't have an account?</p>
              <a routerLink="/authentication/signup">Sing Up Now</a>
            </div>
        </div>
    </mat-grid-tile>
</mat-grid-list>